<a href="https://colab.research.google.com/github/bb20417/CE888/blob/main/Project/tweetClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import urllib.request
import csv

In [ ]:
#referenced from tweeteval colab
# download label mapping
mapping_link = f"https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/emotion/mapping.txt"
with urllib.request.urlopen(mapping_link) as f:
    html = f.read().decode('utf-8').split("\n")
    csvreader = csv.reader(html, delimiter='\t')
labels = [row[1] for row in csvreader if len(row) > 1]
labels

['anger', 'joy', 'optimism', 'sadness']

In [ ]:
#load training data
#traindf=pd.read_csv('../input/semeval-2018-task-ec/2018-E-c-En-train.txt',encoding='utf-8',sep="\t")
mapping_emotion = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/emotion/mapping.txt",encoding='utf-8',sep="\t", header=None)
mapping_emotion.columns= ["id","label"]
mapping_emotion

   id     label
0   0     anger
1   1       joy
2   2  optimism
3   3   sadness

In [ ]:
train_text = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/emotion/train_text.txt",encoding='utf-8',sep="\t", header=None)
train_text.columns= ["tweet_text"]
train_text.head(10)

                                          tweet_text
0  â€œWorry is a down payment on a problem you may ...
1  My roommate: it's okay that we can't spell bec...
2  No but that's so cute. Atsu was probably shy a...
3  Rooneys fucking untouchable isn't he? Been fuc...
4  it's pretty depressing when u hit pan on ur fa...
5  @user but your pussy was weak from what I hear...
6  Making that yearly transition from excited and...
7  Tiller and breezy should do a collab album. Ra...
8  @user broadband is shocking regretting signing...
9                  @user Look at those teef! #growl

In [ ]:
train_label = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/emotion/train_labels.txt",encoding='utf-8',sep="\t", header=None)
train_label.columns= ["tweet_label"]
train_label.head(10)

   tweet_label
0            2
1            0
2            1
3            0
4            3
5            0
6            3
7            1
8            0
9            0

In [ ]:
val_text = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/emotion/val_text.txt",encoding='utf-8',sep="\t", header=None)
val_text.columns= ["tweet_text"]
val_text.head(10)

                                          tweet_text
0  @user @user Oh, hidden revenge and anger...I r...
1  if not then #teamchristine bc all tana has don...
2  Hey @user #Fields in #skibbereen give your onl...
3  Why have #Emmerdale had to rob #robron of havi...
4  @user I would like to hear a podcast of you go...
5  If I have to hear one more time how I am intim...
6                                 depression sucksðŸ˜”
7  O, the melancholy Catacombs quickly wandered a...
8  #RIPBiwott I think Robert oukos soul can now r...
9  @user @user *on his back. Apologies for retwee...

In [ ]:
train_label = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/emotion/val_labels.txt",error_bad_lines=False, header=None)
train_label.columns= ["tweet_label"]
train_label.head(10)

In [ ]:
def preprocess(text):
    new_text = []
    for t in text.split(" "):
        t = '@user' if t.startswith('@') and len(t) > 1 else t
        t = 'http' if t.startswith('http') else t
        new_text.append(t)
    return " ".join(new_text)

In [ ]:
#sample = 
val_text['tweet_text'][200]
print(preprocess(val_text['tweet_text'][200]))

If you sit back, watch &amp; listen to every .@TheDemocrats &amp; .@DNC member, you'll quickly learn it's #Victimhood, #racism, &amp; #hatred. I'm #WOKE