<a href="https://colab.research.google.com/github/bb20417/CE888/blob/main/lab4/my_recommender_movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import operator

In [2]:
df0 = pd.ExcelFile('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true')

In [3]:
df0.sheet_names

['Items', 'Users']

In [4]:
df_Items = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true',sheet_name='Items',index_col=None)

In [5]:
df_Items.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [6]:
df_Users = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true',sheet_name='Users', index_col=None)

In [7]:
df_Users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [8]:
df_Users.shape, df_Items.shape

((25, 16), (100, 17))

In [9]:
# Which 3 movies would you recommend to User 174?
num_factors = df_Users.shape[1]-1
user_pref = df_Users[df_Users['User'] == 174].iloc[:, -num_factors:].values[0]
item_feat = df_Items.iloc[:, -num_factors:].values

In [10]:
preference = item_feat.dot(user_pref)

In [11]:
preference
#df_Users.columns[1:]

array([-1.39366402e-01,  1.29855496e-01,  1.21287610e+00, -4.11286976e-01,
        4.84533484e-01, -8.65355323e-01, -1.62480251e-01, -2.87591800e-02,
       -9.67865375e-02, -1.87731363e-01,  7.70433074e-01, -7.57217626e-02,
       -5.21661932e-02, -3.53584483e-01,  1.85896256e+00,  1.89247700e+00,
        1.89170388e+00, -3.52995189e-01, -2.38122331e-01, -1.55690678e-01,
       -4.65392389e-01,  3.15801606e-01, -6.33464616e-02,  1.64195671e-01,
        2.19043779e-04, -1.47500159e-01,  7.76646832e-01,  6.00331320e-02,
       -2.37284973e-01, -6.05052326e-01, -1.05234285e-01,  8.50343004e-02,
       -5.52006286e-01,  6.68020380e-01, -3.59605417e-01, -1.01019300e-01,
       -7.60041985e-01, -4.12730061e-01,  5.58232991e-01,  9.95227841e-01,
       -1.43982574e-03,  1.00185049e-01, -4.34791637e-01, -6.07886919e-01,
        7.81979389e-02,  2.76329239e-01,  3.69319576e-01, -5.63474110e-01,
       -2.03202702e-02, -2.58341434e-01,  1.14870392e+00,  1.04441912e+00,
       -8.83938843e-02, -2.29628553e-01,  2.27999506e-01,  4.43699913e-02,
       -1.73307238e-01,  1.35280050e-01,  1.05079705e-01, -4.47152256e-01,
        4.68163401e-01,  7.00334799e-01, -3.04750869e-01, -9.77784983e-02,
        1.58310814e-01,  5.59324257e-01,  1.03476934e-01, -2.23986286e-01,
       -3.66725165e-01,  3.03603200e-01, -7.42210853e-02, -5.87257019e-01,
       -6.48042557e-01, -6.96232700e-02, -2.64657505e-01, -3.82602088e-01,
       -4.14798159e-01, -9.19506395e-02, -5.46681636e-02,  4.99982267e-01,
       -2.26226257e-01,  2.33676764e-01,  1.75189842e-01, -1.97096972e-01,
       -1.92600971e-01, -1.23324788e+00, -1.33743812e+00, -1.63425068e-01,
       -3.34595314e-01,  3.52293471e-01, -1.37053328e+00,  2.71769039e-01,
       -1.25225521e-01,  5.04616212e-02,  1.32708323e-01, -1.97996988e-01,
       -3.07369658e-01,  1.38995382e-01,  3.09500202e-03, -5.24708828e-01])

In [27]:
pd.DataFrame(preference).head(20)

           0
0  -0.139366
1   0.129855
2   1.212876
3  -0.411287
4   0.484533
5  -0.865355
6  -0.162480
7  -0.028759
8  -0.096787
9  -0.187731
10  0.770433
11 -0.075722
12 -0.052166
13 -0.353584
14  1.858963
15  1.892477
16  1.891704
17 -0.352995
18 -0.238122
19 -0.155691

In [30]:
#values = [zip(df_Users.columns[1:], preference[i]) for i in range(preference.shape[0])]
top_values = pd.DataFrame(preference).nlargest(10, 0)
top_indices = top_values.index
list(top_indices)
#comparison_data.columns = df_Users.columns

[15, 16, 14, 2, 50, 51, 39, 26, 10, 61]

In [33]:
df_Items.iloc[list(top_indices)]

    Movie ID  ...  Factor15
15       121  ... -0.292928
16       122  ... -0.314937
14       120  ... -0.276280
2         13  ... -0.419092
50       603  ...  0.752413
51       604  ...  2.120907
39       453  ...  0.078898
26       197  ... -0.181853
10        98  ... -0.175565
61       752  ...  1.460253

[10 rows x 17 columns]